body{
  background-color: #080024;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.northern-hemisphere{
  background-color: transparent;
  border: 1px solid white;
  width: 100vh;
  height: 100vh;
  border-radius: 50%;
  position: relative;
}

.star {
  background-color: white;
  width: 5px;
  height: 5px;
  position: absolute;
}

.star::after{
  content: "";
  width: 5px;
  height: 5px;
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
}

.taurus:hover .star{
  background-color: #CCFFEA;
  animation: grow 0.5s ease-in-out forwards, spin 5s linear infinite 1s;
}

.orion:hover .star{
  background-color: #E8CCFF;
  animation: grow 0.5s ease-in-out forwards, spin 5s linear infinite 1s;
}

.aquila:hover .star{
  background-color: #FFCCE9;
  animation: grow 0.5s ease-in-out forwards, spin 5s linear infinite 1s;
}

.taurus:hover .star::after{
  background-color: #CCFFEA;
}

.orion:hover .star::after{
  background-color: #E8CCFF;
}

.aquila:hover .star::after{
  background-color: #FFCCE9;
}

@keyframes grow{
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(4);
  }
}

@keyframes spin{
  0% {
    transform: scale(4) rotate(0deg);
    box-shadow: 0 0 0px white, 0 0 0px white;
  }
  25% {
    transform: scale(4) rotate(90deg);
    box-shadow: 0 0 10px purple, 0 0 10px purple;
  }
  50% {
    transform: scale(4) rotate(180deg);
    box-shadow: 0 0 20px red, 0 0 20px red;
  }
  75% {
    transform: scale(4) rotate(270deg);
    box-shadow: 0 0 10px blue, 0 0 10px blue;
  }
  100% {
    transform: scale(4) rotate(360deg);
    box-shadow: 0 0 0px white, 0 0 0px white;
  }
}

