/* Centers items and colors background */
body{
  background-color: #080024;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

/* Creates a circle with only the border visible and fits
in the middle of a person's screen to recreate the northern
hemisphere */
.northern-hemisphere {
  background-color: transparent;
  border: 1px solid white;
  width: 100vh;
  height: 100vh;
  border-radius: 50%;
  position: relative;
}

/* Creates a box outside of the screen to prevent it from
interfering with user interaction of the stars 
- opacity: changes the visibility of the answer-box */
.answer-box {
  opacity: 0%;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  width: auto;
  height: 5vh;
  left: 30px;
  background-color: white;
  position: fixed;
  transform: translateX(-1000%);
  z-index: 1;
  
  font-size: 20px;
  text-align: center;
}

/* Creates a square that is the base of a star that overlaps
with a psuedo-element square to create an 8-sided star */
.star {
  background-color: white;
  width: 7px;
  height: 7px;
  position: absolute;
  scale: 1;
  transition: scale 3s ease-out;
  z-index: 999;
  
  box-shadow:
    0 0 10px 2px white,
    -15px 0 10px -2px white,
    15px 0 10px -2px white,
    0 -15px 10px -2px white,
    0 15px 10px -2px white;
}

/* Creates a square connected to the base of the star to create
an 8-sided star:
- ::after : creates another element that is connected to the star
class (I could have also used ::before to achieve my goal of creating
an 8-sided star) 
- content: inserts content in css but I used an empty string so that
the psuedo-element would show up on the website */
.star::after {
  content: "";
  width: 7px;
  height: 7px;
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
  
  box-shadow:
    -15px 0 10px -2px white,
    15px 0 10px -2px white,
    0 -15px 10px -2px white,
    0 15px 10px -2px white;
}

/* When you hover over a star without a constellation it grows,
then spins and glows different colors */
.star:hover {
  scale: 3;
  transition-duration: 0.5s;
  animation: spin 5s linear infinite 1s;
}

/* When you hover over a star in the taurus constellation the
answer-box appears on the top left of the screen telling you
the constellation you found 
- opacity: changes the visibility of the answer-box */
.taurus:hover .answer-box {
  opacity: 30%;
  transform: translateX(0);
}

/* When you hover over a star in the orion constellation the
answer-box appears on the top left of the screen telling you
the constellation you found 
- opacity: changes the visibility of the answer-box */
.orion:hover .answer-box {
  opacity: 30%;
  transform: translateX(0);
}

/* When you hover over a star in the aquila constellation the
answer-box appears on the top left of the screen telling you
the constellation you found 
- opacity: changes the visibility of the answer-box */
.aquila:hover .answer-box {
  opacity: 30%;
  transform: translateX(0);
}

/* When you hover over a star in the hercules constellation the
answer-box appears on the top left of the screen telling you
the constellation you found 
- opacity: changes the visibility of the answer-box */
.hercules:hover .answer-box {
  opacity: 30%;
  transform: translateX(0);
}

/* When you hover over a star in the taurus constellation all 
the stars in the constellation grow,then they spin and 
glow different colors */
.taurus:hover .star {
  background-color: #CCFFEA;
  scale: 3;
  transition-duration: 0.5s;
  animation: spin 5s linear infinite 2s;
}

/* When you hover over a star in the orion constellation all 
the stars in the constellation grow,then they spin and 
glow different colors */
.orion:hover .star {
  background-color: #E8CCFF;
  scale: 3;
  transition-duration: 0.5s;
  animation: spin 5s linear infinite 2s;
}

/* When you hover over a star in the aquila constellation all 
the stars in the constellation grow,then they spin and 
glow different colors */
.aquila:hover .star {
  background-color: #FFCCE9;
  scale: 3;
  transition-duration: 0.5s;
  animation: spin 5s linear infinite 2s;
}

/* When you hover over a star in the hercules constellation all 
the stars in the constellation grow,then they spin and 
glow different colors */
.hercules:hover .star {
  background-color: #FAE9C3;
  scale: 3;
  transition-duration: 0.5s;
  animation: spin 5s linear infinite 2s;
}

/* When you hover over a star in the taurus constellation the
psuedo-element square changes to the same color the base of the
star changes into when hovered */
.taurus:hover .star::after {
  background-color: #CCFFEA;
}

/* When you hover over a star in the orion constellation the
psuedo-element square changes to the same color the base of the
star changes into when hovered */
.orion:hover .star::after {
  background-color: #E8CCFF;
}

/* When you hover over a star in the aquila constellation the
psuedo-element square changes to the same color the base of the
star changes into when hovered */
.aquila:hover .star::after {
  background-color: #FFCCE9;
}

/* When you hover over a star in the hercules constellation the
psuedo-element square changes to the same color the base of the
star changes into when hovered */
.hercules:hover .star::after {
  background-color: #FAE9C3;
}

/* rotates the stars and makes it glow different colors */
@keyframes spin {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 0px white, 0 0 0px white;
  }
  25% {
    transform: rotate(90deg);
    box-shadow: 0 0 10px yellow, 0 0 10px yellow;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 0 0 20px red, 0 0 20px red;
  }
  75% {
    transform: rotate(270deg);
    box-shadow: 0 0 10px blue, 0 0 10px blue;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 0px white, 0 0 0px white;
  }
}

