body{
  background-color: #080024;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.northern-hemisphere{
  background-color: transparent;
  border: 1px solid white;
  width: 100vh;
  height: 100vh;
  border-radius: 50%;
  position: relative;
}

.star {
  background-color: white;
  width: 7px;
  height: 7px;
  position: absolute;
  scale: 1;
  transition: scale 3s ease-out;
}

.star::after{
  content: "";
  width: 7px;
  height: 7px;
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
}

.star:hover {
  scale: 3;
  transition-duration: 0.5s;
  animation: spin 5s linear infinite 1s;
}

.taurus:hover .star{
  background-color: #CCFFEA;
  scale: 3;
  transition-duration: 0.5s;
  animation: spin 5s linear infinite 2s;
}

.orion:hover .star{
  background-color: #E8CCFF;
  scale: 3;
  transition-duration: 0.5s;
  animation: spin 5s linear infinite 2s;
}

.aquila:hover .star{
  background-color: #FFCCE9;
  scale: 3;
  transition-duration: 0.5s;
  animation: spin 5s linear infinite 2s;
}

.hercules:hover .star{
  background-color: #FFCCE9;
  scale: 3;
  transition-duration: 0.5s;
  animation: spin 5s linear infinite 2s;
}

.taurus:hover .star::after{
  background-color: #CCFFEA;
}

.orion:hover .star::after{
  background-color: #E8CCFF;
}

.aquila:hover .star::after{
  background-color: #FFCCE9;
}

.hercules:hover .star::after{
  background-color: #FAE9C3;
}

@keyframes spin{
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 0px white, 0 0 0px white;
  }
  25% {
    transform: rotate(90deg);
    box-shadow: 0 0 10px yellow, 0 0 10px yellow;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 0 0 20px red, 0 0 20px red;
  }
  75% {
    transform: rotate(270deg);
    box-shadow: 0 0 10px blue, 0 0 10px blue;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 0px white, 0 0 0px white;
  }
}

